@import "./reset";

.border {
  border: 1px solid #c7c7c7;
  padding: 40px;
}

.news {
  font-family: "Open Sans", sans-serif;
  line-height: 19px;
  font-weight: 400px;
  font-size: 16px;
  color: #000;

  &__main-title {
    font-size: 39px;
    margin-block: 12px 39px;
    text-align: center;
  }

  &__flex {
    display: flex;
    flex-direction: row;
  }

  &__space {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__Katowice {
    position: relative;
    bottom: 80px;
    padding-inline: 60px;
    top: -130px;
    transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover,
    &focus {
      transform: scale(1.04);
    }
  }

  &__Chorzow {
    position: relative;
    bottom: 80px;
    padding-inline: 60px;
    top: -130px;
    transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover,
    &focus {
      transform: scale(1.04);
    }
  }

  &__Sosnowiec {
    position: relative;
    bottom: 80px;
    padding-inline: 60px;
    top: -130px;
    transition: transform 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
    &:hover,
    &focus {
      transform: scale(1.04);
    }
  }

  &__title {
    padding-top: 168px;
    text-align: center;
    font-size: 22;
  }

  &__text {
    text-align: center;
    padding-block: 66px;
  }
  &__img {
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 2;
  }
  &__button {
    border-color: #000;
    background-color: transparent;
    border-width: 3px;
    padding: 14px 53px 16px;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      background-color: #000;
      color: #ededed;
      border: none;
    }
    &:focus {
      background-color: #000;
      color: #ededed;
    }
  }
}
.news__picture-overlay {
  position: relative;
  z-index: 1;
  border-radius: 50%;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    padding-bottom: 80%;
    position: absolute;
    top: 16px;
    left: 58%;
    transform: translateX(-50%);
  }
}
.news__picture-overlay__one::before {
  background-color: #ededed;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
.news__picture-overlay__two::before {
  background-color: #e54155;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
.news__picture-overlay__three::before {
  background-color: #666666;
  box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.25);
}
